<!DOCTYPE html>
<html>
  <head>
    <title>Twitter - Home</title>
    <% include head.ejs %>
  </head>
  <body  ng-app="twitter" ng-controller="twitter" ng-init="tweetss=init('<%= fname %>')">
  	<% include header-home.ejs %>
  	
  	<div class="container" style="margin-top: 10px">
  		<div class="row">
  			<div class="col-lg-3 left-panel">
  				
  			</div>
  			<div class="col-lg-6">
  				<% include center-home.ejs %>
  			</div>
  			<div class="col-lg-9">
  				<% include right-home.ejs %>
  			</div>
  		</div>
  	</div>
  	
  	<div class="container" style="height:1000px">
  	</div>
  	<script>hashSearch="<%=hashSearch%>";</script>
    <% include foot.ejs %>
  </body>
</html>