<div class="container-fluid" style="padding: 0; z-index:999">
	<div class="header_bg">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" >
				<i class="fa fa-twitter pull-right fa-3x"></i>
			</div>
			<div class="col-lg-offset-7 col-md-offset-6 col-sm-offset-5 col-lg-3 col-md-4 col-sm-5 col-xs-9">
				<button class="btn sign-up">Sign up</button>
				<button class="btn sign-in" data-toggle="modal" data-target="#login-modal">Log in</button>
			</div>
			
			<div class="hidden-xs col-lg-12" text-align="center">
				<center>
					<h2>See what&#39;s happening right now.</h2>
					<p>Find community, conversation and inspiration about the things you love.</p>
				</center>
				</div>
		</div>
		<!--<div class="row" text-align="center">
			<center>
				<h2>See what&#39;s happening right now.</h2>
				<p>Find community, conversation and inspiration about the things you love.</p>
			</center>
		</div>-->
	</div>
	
</div>

<div class="modal fade" id="login-modal" role="dialog">
	<div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          	<button type="button" class="close" data-dismiss="modal">&times;</button>
          	<center><h4>Log in to Twitter</h4></center><br>
          	<center><i class="fa fa-twitter fa-2x" style="color: #1da1f2"></i></center>
        </div>
        <div class="modal-body">
        	<div style="width: 60%; margin: auto; color: #fff">
          		<input type="text" class="form-control" placeholder="Phone, email or username" autofocus>
  				<input style="margin-top: 12px;" type="password" class="form-control" placeholder="Password">
  				<a href="" class="fgt-pass">Forgot password?</a>
  				<button class="login-btn" style="background-color: #1da1f2; color: #fff;">Log in</button>
          	</div>
        </div>
        <div class="modal-footer">
          <center><h4 style="color: #8899a6; margin: 0px;">Dont have an account? <a href="">Sign up >></a></h4></center><br>
        </div>
      </div>
      
    </div>
</div>

<div class="container top-padd" style="height:210px">
</div>