<div class="alert-top-notify suc col-lg-12"></div>
<div class="container-fluid" style="padding: 0; z-index:999">
	<div class="header_bg">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" >
				<i class="fa fa-twitter pull-right fa-3x"></i>
			</div>
			<div class="col-lg-offset-7 col-md-offset-6 col-sm-offset-5 col-lg-3 col-md-4 col-sm-5 col-xs-9">
				<%# <button class="btn sign-up" data-toggle="modal" data-target="#register-modal">Sign up</button> %>
				<button class="btn sign-in" ng-click="logout();">Logout</button>
			</div>
			
			<div class="hidden-xs col-lg-12" text-align="center">
				<center>
					<h2>See what&#39;s happening right now.</h2>
					<p>Find community, conversation and inspiration about the things you love.</p>
				</center>
				</div>
		</div>
		<!--<div class="row" text-align="center">
			<center>
				<h2>See what&#39;s happening right now.</h2>
				<p>Find community, conversation and inspiration about the things you love.</p>
			</center>
		</div>-->
	</div>
	
</div>


<!--JUST TO GIVE MARGIN FROM TOP-->
<div class="container top-padd" style="height:210px"></div>
